<h1>Let directive example:</h1>

<ng-container *appLet="data$ | async as data"> <!-- single subscription -->
  <div>
    Data: {{data}} <!-- false -->
  </div>
</ng-container>

<div *appLet="random1or0$ | async as random1or0">
  Random number 0 or 1 is => {{random1or0}}
</div>



<br>
<div *appRange="8; let num">
  {{num}}. random is {{random1or0$ | async}}
</div>









<h1>Range directive example:</h1>

<div *appRange="maxElements; let num; let i = index">
  index: {{i}} | element: {{num + 1}} of {{maxElements}}
</div>
<br>

<label>
  Year:
  <select>
    <ng-container *appRange="[2005, 2018]; let num">
      <option [value]="num">{{num}}</option>
    </ng-container>
  </select>
</label>
